version: "3.9"
services:
  db:
    container_name: db
    image: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=Hcmus@2021
      - MYSQL_DATABASE=auction
    volumes:
      - mysql-data:/var/lib/mysql
  doran-backend:
    container_name: doran-backend
    image: kafkawannafly/doran-house.lovely-backend
    volumes:
      - doran-data:/app
    ports:
      - "9090:80"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=auction
      - DB_USERNAME=root
      - DB_PASSWORD=Hcmus@2021
      - GG_SECRET=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
      - FB_SECRET=20ac444fb96791a3ee633cff5c9faab8
      - GITHUB_SECRET=6f560db5c35d10928dde187d29eac0adc6d52b3b
      - APP_AUTH_SECRET=04ca023b39512e46d0c2cf4b48d5aac61d34302994c87ed4eff225dcf3b0a218739f3897051a057f9b846a69ea2927a587044164b7bae5e1306219d50b588cb1
      - ALLOWED_ORIGINS=*
      - AUTH_REDIRECT_URI=http://localhost:3000/oauth2/redirect
      - JWT_SECRET=CanLaoViTienThu
      - EMAIL=Hoangtestlogin@gmail.com
      - EMAIL_PASSWORD=28022000Hh
      - KEY_STORE_PASSWORD=Hcmus@2021
volumes:
  mysql-data:
  doran-data: